$btnColor: #e45028;
.btn {
    color: white;
    cursor: pointer;
    background-color: $btnColor;
    width: auto;
    height: auto;
    padding: 8px 20px;
    border: none;
    border-radius: 4px

}