/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Lifehack-Medium";

  src: url("./fonts/DearType-LifehackMedium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/DearType-LifehackMedium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}