doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width")
        title "sekis"
        link(href="styles/main.css" rel="stylesheet" type="text/css")
    body
        p Какакшка
        p Двойная какашка
        p Тройная какаsdfasdf
        p Какашка номер пять