doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width")
        title "sekis"
        link(href="styles/main.css" rel="stylesheet" type="text/css")
    body
        .wrapper
            section.section1
                .container
                    header.header
                        .logo
                            a(href="#").logo__link
                                img(src="img/logo.svg" alt="кеака").logo__img
                        ul.menu
                            -var values = ["о нас", "бургеры", "команда", "меню", "отзывы", "контакты"]
                            each val in values
                                li.menu__item
                                    a.menu__link(href="#" cursor="pointer") #{val}
                        a.btn(href="#") заказать
                    .content
                        .content-parts
                            .content-part1
                                .burger
                                    img.burger__img(src="img/burger.png" alt="Картинка бургеров")
                            .content-part2
                                h2.we-do мы делаем
                                h1.natural-burgers натуральные бургеры
                        .arrow
                            a.arrow__link(href="#")
                                img.arrow__img(src="img/arrow-scroll.svg")
            section.section2
                .container(class="container2")
                    //header.header2
                   
                        //ham 97x89, hand 73x85, leaf 88x75
                    .content
                        h1.we-are-the-best Мы лучшие
                        ul.features
                            -var urlMeat = "img/meat.svg"
                            -var urlHand = "img/hand.svg"
                            -var urlLeaf = "img/natural.svg"
                            -var titleMeat = "100% свежее мясо"
                            -var titleHand = "Ручная сборка"
                            -var titleLeaf = "Натуральные ингридиенты"
                            -var text1 = "Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен."
                            -var text2 = "Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос."
                            -var text3 = "Драма представляет собой деструктивный цикл. Анапест представляет собой анапест."
                            -var featureName = [[urlMeat, titleMeat, text1], [urlHand, titleHand, text2], [urlLeaf, titleLeaf, text3]]
                            each val in featureName
                                li.feature
                                    .feature__logo
                                        img.feature__img(src=val[0])
                                    .feature__content
                                        h3.feature__title #{val[1]}
                                        p.feature__description #{val[2]}


