doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width")
        title "sekis"
        link(href="styles/main.css" rel="stylesheet" type="text/css")
    body
        .wrapper
            .container
                header.header
                    .logo
                        img(src="" alt="кеака")
                    ul.menu
                        -var values = ["о нас", "бургеры", "команда", "меню", "отзывы", "контакты"]
                        each val in values
                            li.menu_item #{val}
                    button.btn заказать
                .content
                    .burger
                        .burger-img
                            img.burger-img_img(src="" alt="Картинка бургеров")
                        .burger-desc
                            h2 мы делаем
                            h1 натуральные бургеры
                    .arrow V