@font-face {
    font-family: "Gagalin-Regular";
    src: url("./../fonts/Gagalin-Regular/fonts/Gagalin-Regular.woff2") format("woff2"),
        url("./../fonts/Gagalin-Regular/fonts/Gagalin-Regular.woff") format("woff");
}
@font-face {
    font-family: "Lifehack-Medium";
    src: url("./../fonts/Lifehack-Medium/fonts/DearType-LifehackMedium.woff2") format("woff2"),
        url("./../fonts/Lifehack-Medium/fonts/DearType-LifehackMedium.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: url("./../fonts/Ubuntu-Medium/fonts/Ubuntu-M.woff2") format("woff2");
}
@font-face {
    font-family: "Ubuntu-Light";
    src: url("./../fonts/Ubuntu-Light/fonts/Ubuntu-L.woff2") format("woff2"),
        url("./../fonts/Ubuntu-Light/fonts/Ubuntu-L.woff") format("woff");
}